          <div class="blog-entry d-flex blog-entry-search-item">
            <a href="single.html" class="img-link me-4">
              <img src="{{ post.image.url }}" alt="Image" class="img-fluid">
            </a>
            <div>
              <span class="date">{{ post.date }} &bullet; <a href="#">{{ post.categorie }}</a></span>
              <h2><a href="single.html"> 
                {{ post.title }}
              </a></h2>
              <p> {{ post.partie1|truncatewords:20 }} </p>
              <p><a href="{% url "single" post.pk %}" class="btn btn-sm btn-outline-primary">Read More</a></p>
            </div>
          </div>