{% extends "sudo/base.html" %}
{% block main %}
<div class="d-flex align-items-stretch">
    <div class="card shadow w-100">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table text-nowrap mb-0 align-middle">
        <thead class="bg-dark text-white">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 text-light">Nom</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 text-light">Email
                  </h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 text-light">date d'enrigistrement</h6>
                </th>
              </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}                
              <tr>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{contact.username}}</h6>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{contact.email}}</p>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <p class="mb-0 fw-normal">{{contact.date}}</p>
                  </div>
                </td>
              </tr>                       
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}