{% load static %}
<script src="{% static 'sudo/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'sudo/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'sudo/js/sidebarmenu.js' %}"></script>
<script src="{% static 'sudo/js/app.min.js' %}"></script>
<script src="{% static 'sudo/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'sudo/libs/simplebar/dist/simplebar.js' %}"></script>
<script src="{% static 'sudo/js/dashboard.js' %}"></script>